.checkout{
    display: flex;
    height: max-content;
    padding: 20px;
    background-color: white;
   
    
}

/* .cha{
  width: 100;
    margin-bottom: 10px;
} */


.checkt
{

margin-right: 10px;
padding: 10px;
border-bottom: 1px solid lightgray;

}
