.login {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iml {
    margin-top: 20px;
    margin-bottom: 0px;
    object-fit: contain;
    width: 150px;
    
    margin-right: auto;
    margin-left: auto;
  }

.loginc {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    margin: -30px;
}

.loginc > h1 {
    font-weight: 500;
    margin-bottom: 20px;
  }

.loginc > form > h5 {
    margin-bottom: 5px;
}

.loginc > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
  }

.loginc > p {
    margin-top: 15px;
    font-size: 12px;
}

.loginsi {
    background: #edaaaa;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color:rgb(10, 10, 10);
    font-weight: bold;
  }


  .loginsi:hover{
    background-color: rgb(247, 247, 25);
  }

  .loginrb {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgray;
    background-color: rgb(241, 246, 171);
    font-weight: bold;
  }

  .loginrb:hover{
    background-color: blueviolet;
  }