.subt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
}

.subgift{
    display: flex;
    align-items: center;

}

.subgift>input{
    margin-right: 6px;
}

.subt >button{
    background: yellow;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: yellowgreen;
    color: black;
    
}

.subt>button:hover{
    background-color: rgb(239, 193, 221);
}



